@page
@model Oblig2Web.Pages.Reservas.PaginaReservasModel
@{
}
<div class="card align-content-center" style="border-color: lightblue">
    <div class="card-header d-flex" style="background-color: lightblue">
        <div class="row">
            <h3 class="text-black-50 me-auto">Lista de Reservas Hechas</h3>
        </div>
    </div>
    <div class="card-body">
        <form method="post">
            @if (Model.Reservas != null && Model.Reservas.Any())
            {
                <br />
                <table class="table table-striped border">
                    <tr class="table-secondary">
                        <th>
                            @Html.DisplayNameFor(m => m.Reservas.First().Usuario.Nombre)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.Reservas.First().NumHabitacion)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.Reservas.First().FechaInicio)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.Reservas.First().FechaFinal)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.Reservas.First().FechaReserva)
                        </th>
                        <th>
                            Acciones
                        </th>
                    </tr>
                    @foreach (var item in Model.Reservas)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(m => item.Usuario.Nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.NumHabitacion)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.FechaInicio)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.FechaFinal)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.FechaReserva)
                            </td>
                            <td>
                                <a asp-route-id="@item.IdReserva" asp-page="ModificarReserva" class="btn btn-primary btn-sm" style="background-color: cornflowerblue; border: none">Modificar Reserva</a>
                                <button type="submit" asp-page-handler="Delete" asp-route-id="@item.IdReserva" style="background-color: darkred; border: none" onclick="return confirm('¿Esta seguro de querer cancelar esta reserva?')" class="btn-danger btn-sm">Cancelar</button>
                            </td>
                        </tr>
                    }
                </table>

            }
            else
            {
                <p>No hay reservas hechas todavia</p>
            }
        </form>
    </div>
</div>
