@page
@model Oblig2Web.Pages.Habitaciones.ListaHabitacionesModel
@{
    ViewData["Title"] = "Lista de Habitaciones";
}

<div class="card align-content-center" style="border-color: lightblue">
    <div class="card-header d-flex" style="background-color: lightblue">
        <div class="row">
            <div class="col-sm-6">
                <h3 class="text-black-50 me-auto">Lista de Habitaciones</h3>
            </div>
        </div>
    </div>
    <div class="card-body">
        @if (Model.HabitacionesL != null && Model.HabitacionesL.Any())
        {
            <br />
            <table class="table table-striped border">
                <tr class="table-secondary">
                    <th>
                        @Html.DisplayNameFor(m => m.HabitacionesL.First().NumHabitacion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.HabitacionesL.First().TipoHabitacion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.HabitacionesL.First().Tarifa)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.HabitacionesL.First().CantidadPersonas)
                    </th>
                </tr>
                @foreach (var item in Model.HabitacionesL.OrderBy(h => h.NumHabitacion))
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(m => item.NumHabitacion)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.TipoHabitacion)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.Tarifa)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.CantidadPersonas)
                        </td>
                    </tr>
                }
            </table>

        }
        else
        {
            <p>No hay habitaciones disponibles</p>
        }
    </div>
</div>
